[submodule "lvgl_app/lvgl"]
	path = lvgl_app/lvgl
	url = https://github.com/kaythe/lvgl.git
[submodule "lvgl_app/lv_drivers"]
	path = lvgl_app/lv_drivers
	url = https://github.com/kaythe/lv_drivers.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/kaythe/buildroot.git
	branch = BBB-To-Go-Develop
